@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

section {
  padding-bottom: 94px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  background: #2f303a;
  color: #fff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .container {
    height: 60px;
    justify-content: space-between;
  }
}
.page-header--line {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header__list > li:not(:last-child) {
    padding-right: 50px;
  }
}
/* Logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header__span {
  color: #212121;
}

.page-footer__span {
  color: #fff;
}

/* Header nav */
.page-header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.page-header__link:hover, .page-header__link:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover::after,
.page-header__link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.page-header__link::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__current {
  color: #2196f3;
}

.page-header__current.page-header__link::after {
  opacity: 1;
  transform: scaleX(1);
}

.page-header__contacts {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .page-header__contacts {
    margin-left: 300px;
  }
}
@media screen and (max-width: 1279px) {
  .page-header__contacts {
    flex-direction: column;
    margin-left: 90px;
    row-gap: 10px;
  }
}
@media screen and (min-width: 769px) {
  .page-header__contacts > li:first-child {
    padding-right: 30px;
  }
}
.page-header__contact {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  border: none;
}
.page-header__contact:hover, .page-header__contact:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-header__contact {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1140px) {
  .page-header__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.page-header__item {
  display: flex;
}

.page-header__contact:hover .page-header__icon,
.page-header__contact:focus .page-header__icon {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__icon {
  margin-right: 10px;
  padding: 0;
  fill: #757575;
}

.page-header__list {
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .page-header__contacts {
    display: none;
  }
  .page-header__list {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: rgb(33, 150, 243);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
}

.mobile-menu .link {
  display: flex;
  padding: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: rgb(33, 150, 243);
}

.contact {
  margin-top: 200px;
  margin-bottom: 64px;
  padding-left: 0;
}

.contact-link {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-bottom: 32px;
}

.social {
  padding-left: 0;
}

.soc-list {
  display: inline-flex;
  margin: 0;
}

.soc-list:not(:last-child):after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  margin-right: 6px;
}

.soc-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* .span-soc-link {
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 7px;
} */
.hero {
  margin: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2f303a;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_mobile_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_mobile_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_desktop_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_desktop_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: auto;
  padding: 0;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}
.button {
  background: #2196f3;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  height: 50px;
  margin-top: 30px;
}
.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.features {
  padding-top: 94px;
}

@media screen and (max-width: 1024px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1023px) {
  .features__list > li:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .features__list {
    display: flex;
  }
  .features__list > li:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .features__item {
    width: 270px;
  }
}
.features__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.about__list {
  display: flex;
}
.about__list > li:not(:last-child) {
  margin-right: 30px;
}

.about__item {
  position: relative;
  display: flex;
}

.about__img-box {
  display: flex;
}

.about__label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1024px) {
  .about {
    display: none;
  }
}
.team {
  background: #f5f4fa;
}

@media screen and (max-width: 1024px) {
  .team {
    padding-bottom: 60px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
  padding-top: 94px;
}

@media screen and (max-width: 768px) {
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
  .team__list > li:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
.team__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 30px;
  border-top: initial;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 10px;
  padding-top: 30px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__soclinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__soc-item {
  width: 44px;
  height: 44px;
}

.team__soc-item:not(:last-child) {
  margin-right: 10px;
}

.team__soclink {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.team__soclink:hover, .team__soclink:focus {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__soclink:hover .team__soc-icon,
.team__soclink:focus .team__soc-icon {
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__soc-icon {
  fill: #afb1b8;
}

@media screen and (max-width: 1024px) {
  .clients {
    padding-bottom: 30px;
  }
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1023px) {
  .clients__title {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .clients__title {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
    height: 92px;
  }
}
@media screen and (min-width: 1024px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.filters {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.filters > li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.filters__btn {
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  height: 38px;
}
.filters__btn:hover, .filters__btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--active {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gallery {
    padding-bottom: 60px;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .grid {
    row-gap: 15px;
  }
}
.grid__item {
  display: block;
}
.grid__item:hover, .grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item {
  width: calc((100% - 60px) / 3);
}

@media screen and (max-width: 767px) {
  .grid__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid__item:first-child .grid__box-link > .grid__style {
    padding-bottom: 56px;
  }
}
.grid__subtitle {
  max-width: 370px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.grid__text {
  max-width: 370px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.grid__style {
  padding: 20px 24px 20px 24px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-top-style: none;
}

/* Синій оверлей з текстом на картках сторінки Портфоліо */
.grid__box {
  position: relative;
  overflow: hidden;
}
.grid__box:hover .grid__overlay, .grid__box:focus .grid__overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms;
}

.grid__box-link:focus .grid__overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item--hidden {
  transform: scale(0.3);
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .grid__description {
    padding: calc(5px + 5vw) 24px;
    font-size: calc(9px + 2vw);
  }
}
@media screen and (min-width: 480px) {
  .grid__description {
    padding: 77px 24px;
    font-size: 18px;
  }
}

.page-footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer-cont {
    text-align: center;
  }
}
.page-footer__logo {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}

.page-footer__address {
  display: block;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.page-footer__tel {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .page-footer__tel {
    padding-bottom: 60px;
  }
}
.page-footer__mail {
  display: block;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__social {
  margin-top: 72px;
  margin-left: 70px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .page-footer__social {
    margin-top: 60px;
    margin-left: 137px;
    margin-right: 137px;
    margin-bottom: 60px;
  }
}
.page-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .page-footer__title {
    /* display: flex; */
    margin-bottom: 20px;
    /* justify-content: space-around; */
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .page-footer__title {
    display: flex;
    margin-bottom: 20px;
  }
}
.page-footer__soclist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__item {
  width: 44px;
  height: 44px;
}

.page-footer__item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__soclink {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.page-footer__soclink:hover, .page-footer__soclink:focus {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__mailing-form {
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1024px) {
  .page-footer__mailing-form {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
#footer_email {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  padding: 18px;
  margin-right: 12px;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 479px) {
  #footer_email {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  #footer_email {
    width: 450px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  #footer_email {
    width: 358px;
  }
}
.page-footer__mailing {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .page-footer__mailing {
    padding-top: 72px;
    padding-left: 93px;
  }
}
.page-footer__mailing-title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .page-footer__mailing-title {
    text-align: center;
  }
}
.page-footer__mailing-btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-left: 28px;
  width: 200px;
  height: 50px;
  border: none;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .page-footer__mailing-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.page-footer__mailing-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) translate(0, 100%) rotate(150deg);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 100%;
  padding: 10px;
}

.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 25%;
  left: 12px;
}

.modal__input-group {
  position: relative;
}
.modal__input-group:hover, .modal__input-group:focus-within {
  fill: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__commit {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
}
.modal__commit:hover, .modal__commit:focus {
  border-color: #2196f3;
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__commit {
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-submit {
  display: flex;
  justify-content: center;
}

.modal__btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
}
.modal__btn:hover, .modal__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #afb1b8;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #2196f3;
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* stylization checkbox */
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__input + span {
  display: inline-flex;
  align-items: center;
  padding-left: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__input + span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox__input:hover + span::before,
.checkbox__input:focus + span::before {
  border-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + span::before {
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-image: url(../images/icon_check.svg);
}

.checkbox__text {
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .checkbox__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
.checkbox__link {
  margin-left: 4px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */