.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .container {
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
}