.container { 
    max-width: 1200px;   
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767x) {
        max-width: none;
    }

    @media (max-width: 992px) {
        max-width: 750px;
    }

    @media (max-width: 1200px) {
            max-width: 970px;
        }
}