.features {
    padding-top: 94px;
}

@media screen and (max-width: 1024px) {
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1023px) {

    .features__list>li:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .features__item {
        width: calc((100% - 30px) / 2);
        // height: 120px;
    }
}

@media screen and (min-width: 1024px){

    .features__list {    
        display: flex;

        &>li:not(:last-child) {
            margin-right: 30px;
        }
        }
}

    @media screen and (min-width: 1024px) {

        .features__item {
            width: 270px;
        }
    }

.features__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;       
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color;
}

@media screen and (max-width: 767px) {
.features__title {
    text-align: center;
}
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}