.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) translate(0, 100%) rotate(150deg);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .modal {
    width: 450px;
    }        
}

@media screen and (max-width: 479px) {
    .modal {
        width: 100%;
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    width: 100%;
    padding: 10px;
}

.modal__input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover,
        &:focus {
            border-color: $second-blue-color;
            outline: none;
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal__icon {
    position: absolute;
    top: 25%;
    left: 12px;
}

.modal__input-group {
    position: relative;

    &:hover,
    &:focus-within {
            fill: $second-blue-color;
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal__commit {
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;

    &:hover,
        &:focus {
            border-color: $second-blue-color;
            outline: none;
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal__commit {
    padding-top: 12px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-submit {
    display: flex;
    justify-content: center;
}

.modal__btn {    
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background: $second-blue-color;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;

    &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal__btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #afb1b8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
        &:focus {
            fill: $second-blue-color;
            outline: none;
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

/* stylization checkbox */

.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__input+span {
    display: inline-flex;
    align-items: center;
    padding-left: 14px;
    user-select: none;
}

.checkbox__input+span::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox__input:hover+span::before,
.checkbox__input:focus+span::before {
    border-color: $second-blue-color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked+span::before {
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
    background-image: url(../images/icon_check.svg);
}

.checkbox__text {
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

@media screen and (max-width: 768px){
    .checkbox__text{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16;    
        letter-spacing: 0.03em;
    }
}

.checkbox__link {
    margin-left: 4px;
    text-decoration-line: underline;
    color: $second-blue-color;
}