.filters {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;

    &>li:not(:last-child) {
            margin-right: 8px;
        }
}

@media screen and (max-width: 767px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 15px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

.filters__btn {
    background: #f5f4fa;
    color: $primary-text-color;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: $primary-font;
    text-align: center;
    height: 38px;

    &:hover,
        &:focus {
            background: $second-blue-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            color: $primary-white-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.filter__btn--active {
    background: $second-blue-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $primary-white-color;
}