.team {
    background: #f5f4fa;
}

@media screen and (max-width: 1024px) {
    .team {
        padding-bottom: 60px
    }
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    padding-bottom: 50px;
    padding-top: 94px;
}

@media  screen and (max-width: 768px) {
    .team__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-text-color;
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 1199px) {
    .team__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
        // justify-content: center;
    }
}

@media screen and (min-width: 1200px) {

    .team__list {
        display: flex;

        &>li:not(:last-child) {
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .team__item {
            width: calc((100% - 30px) / 2);            
        }
    }

.team__item {
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
    border-top: initial;
}

.team__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    padding-bottom: 10px;
    padding-top: 30px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}